.btn{
    height: 40px;
    width: 300px;
}
.item{
    height: 300px;
    width: 300px;
    background-color: red;
    box-sizing: border-box;
    }
.item1{
    height: 300px;
    width: 300px;
    background-color: green;
    box-sizing: border-box;
}